<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Estimasi Harga Rumah Tangerang Selatan</h1>
        <form class="form" action="/" method="post">
            <div class="mb-3">
                <label for="form-select" class="form-label">Input Tipe Rumah : </label>
                <select class="form-select" aria-label="Default select example" name="tipe_rumah" required>
                    <option selected disabled value="">-</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="form-select" class="form-label">Input Jumlah Lantai : </label>
                <select class="form-select" aria-label="Default select example" name="jumlah_lantai" required>
                    <option selected disabled value="">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="form-select" class="form-label">Input Kamar Tidur : </label>
                <select class="form-select" aria-label="Default select example" name="tipe_kamar" required>
                    <option selected disabled value="">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="form-select" class="form-label">Input Kamar Mandi : </label>
                <select class="form-select" aria-label="Default select example" name="tipe_kamar_mandi" required>
                    <option selected disabled value="">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="form-select" class="form-label">Input Garasi : </label>
                <select class="form-select" aria-label="Default select example" name="tipe_garasi" required>
                    <option selected disabled value="">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                </select>
            </div>
            <button type="submit" class="btn btn-dark ">Submit</button>
        </form>
        {% if content %}
        <div id="result">
            <h1 class="text-center h1">Hasil :</h1>
            <table class="table table-bordered mt-xl-5">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Estimasi Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">#</th>
                        <td colspan="2">
                            <p>Rp.{{ content }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger" onclick="resetButton()">Reset</button>
        </div>
        {% endif %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script>
            function resetButton(){
                const result = document.getElementById("result")
                result.remove()
            }
        </script>
</body>

</html>